*, *::after, *::before
{
    box-sizing: border-box;
}
body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: #ddd;
    overflow-x:    hidden;
    padding-bottom: 200px;
}
.intro
{
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.5)),url('../img/bgc.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 3;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
    border-bottom: 1px solid #333;
}
.timeline ul
{
    padding: 50px 0;
}
.timeline ul li
{
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #333;
    box-shadow: 0 0 10px 3px #333;

}
.timeline ul li::after
{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background:inherit;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline ul li::before
{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: 7px;
}
.timeline ul li div
{
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #333;
}
.timeline ul li:nth-child(odd) div
{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.5)),url(../img/li1.jpg) no-repeat center center;
    background-size: cover;
}
.timeline ul li:nth-child(even) div
{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.5)),url(../img/li2.jpg) no-repeat center center;
    background-size: cover;
}
.timeline ul li:nth-child(odd) div
{
    left: 45px;
}
.timeline ul li:nth-child(even) div
{
    left: -439px;
}
.timeline ul li:nth-child(odd) div::before
{
    left: -15px;
    border-width: 8px 16px 8px 16px;
    border-color: transparent transparent transparent orangered;
}
.timeline ul li:nth-child(even) div::before
{
    right: -15px;
    border-width: 8px 0px 8px 16px;
    border-color: transparent transparent transparent orangered;
}

.timeline ul li::after
{
    transition: background .5s ease-in-out;

}
.timeline ul li.in-view::after
{
    background: orangered;
}
.timeline ul li:nth-child(odd) div
{
    transform: translate3d(200px,0,0);
}
.timeline ul li:nth-child(even) div
{
    transform: translate3d(-200px,0,0);
}
.timeline ul li div 
{
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.timeline ul li.in-view div 
{
    transform: none;
    visibility: visible;
    opacity: 1;
}
@media (max-width: 900px)
{
    .timeline ul li div
    {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div
    {
        left: -289px;
        /* 250+45-6 */
    }
    
}
@media (max-width: 600px)
{
    .timeline ul li 
    {
        margin-left: 20px;
    }
    .timeline ul li div
    {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div
    {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before
{
    left: -15px;
    border-width: 8px 16px 8px 0px;
    border-color: transparent orangered transparent transparent ;
}
}